In [ ]:
# Exp 7: Implementation of AdaBoost Algorithm.
# Code by Bhavy Kharbanda
# Sap Id: 500082531

In [1]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Salary.csv")
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [3]:
X = df.iloc[:,0:6]
Y = df.iloc[:,6]

In [4]:
# Splitting the dataset into test and train dataset.
# Here 75% is the trainign dataset and 255 is the testing dataset.
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [7]:
# n_estimators is the number of weak learners to train
# learning_rate is the default weight assigned to each model.
AdaModel = AdaBoostClassifier(n_estimators = 100, learning_rate = 1)

In [8]:
# Training the Model
model = AdaModel.fit(X_train, y_train)

# Predict the response for test dataset
y_pred = model.predict(X_test)

In [9]:
# To know the accuracy of the model.
print("Accuracy of the model is: ", metrics.accuracy_score(y_test, y_pred))

Accuracy of the model is:  0.8320196540075749